{% extends 'base/base.html' %}
{% load static %}


{% block title %}
    chat
{% endblock %}
{% block styles %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
{% endblock %}

{% block main_content %}
    {{ private_chat.encoded_chat_name|json_script:'private_chat' }}

    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                {% if request.user.is_authenticated %}
                    {% if request.user == private_chat.user1 or request.user == private_chat.user2 %}
                        <h5>chat with <strong>
                            {% if request.user == private_chat.user1 %}{{ private_chat.user2 }}{% else %}
                                {{ private_chat.user1 }}{% endif %}:
                        </strong></h5>
                        <div id="chat">
                            {% if messages %}
                                <div class="card card-body">

                                    {% for message in messages %}
                                        <div class="card card-body">
                                            <h5>{{ message.content }}</h5>
                                        </div>
                                    {% endfor %}

                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="input-group">
                                    <input class="form-control" type="text" v-model="message" v-on:keydown.enter="submitMessage">
                                    <button class="btn btn-primary" v-on:click="submitMessage"><i
                                            class="far fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <h5>აქ რა გინდა? </h5>
                    {% endif %}
                {% else %}
                    <h5>აქ რა გინდა? თან დარეგისტრირებულიც არ ხარ</h5>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"
            integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'chat/js/chat.js' %}"></script>
{% endblock %}