{% extends 'base/base.html' %}
{% load static %}


{% block title %}
    chat
{% endblock %}
{% block styles %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="{% static 'chat/css/chat.css' %}" rel="stylesheet">
{% endblock %}

{% block main_content %}

    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                {% if request.user.is_authenticated %}
                    {% if request.user == private_chat.user1 or request.user == private_chat.user2 %}
                        <h5>chat with <strong>
                            {% if request.user == private_chat.user1 %}{{ private_chat.user2 }}{% else %}
                                {{ private_chat.user1 }}{% endif %}:
                        </strong></h5>
                        {% if messages %}
                            <div class="card card-body">

                                {% for message in messages %}
                                    <div class="card card-body">
                                        <h5>{{ message.content }}</h5>
                                    </div>
                                {% endfor %}

                            </div>
                        {% endif %}
                        <form>
                            <div class="chat-message clearfix">
                                <div class="input-group mb-0">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-send"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter text here...">
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <h5>აქ რა გინდა? </h5>
                    {% endif %}
                {% else %}
                    <h5>აქ რა გინდა? თან დარეგისტრირებულიც არ ხარ</h5>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}